// TOGGLE BUTTON AND ALL THE FUNCTIONALITY WITH CSS
.checkbox-btn {
  display: none;
}
// anually or monthly
.period {
  color: var(--light-grayish-blue);
  margin: 3.5rem 0;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

label.toggle-btn {
  margin: 0 4rem;
  border-radius: 5rem;
  width: 60px;
  height: 33px;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--lighter-gradient),
    var(--darker-gradient)
  );
  position: relative;
  top: 10px;
  transition: 0.2s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -1rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
}

// price with it's before element
.price {
  font-size: 7rem;
  padding-bottom: 2rem;
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  visibility: visible;

  &::before {
    content: '';
    position: absolute;
    top: 2.2rem;
    left: 6rem;
    font-size: 5.5rem;
    visibility: hidden;
  }
}

.price::before {
  content: attr(data-anual);
}

// adding toggle functionality

.checkbox-btn:checked + .toggle-btn::before {
  left: 17px;
}

.checkbox-btn:checked ~ .cards-box > .card > ul > .price {
  visibility: hidden;
}
.checkbox-btn:checked ~ .cards-box > .card > ul > .price::before,
.dollar {
  visibility: visible;
}
.checkbox-btn:checked ~ .cards-box > .card > ul > li:nth-of-type(2) {
  border-top: 0.2px solid var(--light-grayish-blue);
}
